<div class="clearfix mb-2">
  <div class="float-left"> Table > 테이블쿼리  </div>
  <div class="float-right">
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadInsStat()" >
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Ins문장
    </button> 
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectSelectScript()" >
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Sel문장 
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()" >
        <i class="fa fa-file-excel-o"></i>&nbsp;엑셀
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadCommaFile()" >
        <i class="fa fa-file-excel-o"></i>&nbsp;CSV
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadBarFile()" >
        <i class="fa fa-file-excel-o"></i>&nbsp;샘파일
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectTabQryList()">
      <i class="fa fa-tasks fa-fw"></i>&nbsp;조회
    </button>
  </div>
</div>

<div class="form-row">
  <div class="form-group">
    <select class="btn btn-outline-primary btn-sm mr-2" >
      <option *ngFor="let combo of comboJdbc let i = index" [selected] = "i==jdbcIdx" [value]="combo.jdbcNm" >{{combo.jdbcNm}}</option>
    </select>
    <input [(ngModel)]="tabInfoInVo.tabNm"    class="btn btn-outline-primary btn-sm mr-2" placeholder="테이블명">
  </div>
  <div class="form-group">
    <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboOrderBy($event.target)"  >
      <option *ngFor="let cols of tabInfoOutVoList" [value]="cols.colNm" >{{cols.colHnm}}</option>
    </select>
    <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboAscDesc($event.target)"  >
      <option *ngFor="let combo of comboAscDesc" [value]="combo.value" >{{combo.name}}</option>
    </select>
  </div>
  <div class="form-group btn btn-outline-primary btn-sm mr-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="chkSelect" [(ngModel)]="tabInfoInVo.chkSelect" (click)="onCheckCol()">
      <label class="form-check-label" for="chkSelect">컬럼</label>
    </div>
  </div>
  <div class="form-group btn btn-outline-primary btn-sm mr-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="chkWhere" [(ngModel)]="tabInfoInVo.chkWhere" (click)="onCheckWhere()">
      <label class="form-check-label" for="chkWhere">조건</label>
    </div>
  </div>

</div>
<div *ngIf="tabInfoInVo.chkSelect" class="form-row" >
  <div class="form-group col-md-12">
    <textarea name="txtSelect" class="form-control" rows="3"  (change)="onChangeCol()" [(ngModel)]="tabInfoInVo.txtSelect" placeholder="필드정보를 입력하세요"></textarea>
  </div>
</div>
<div *ngIf="tabInfoInVo.chkWhere" class="form-row" >
  <div class="form-group col-md-12">
    <textarea name="txtWhere" class="form-control" rows="3"  (change)="onChangeWhere()" [(ngModel)]="tabInfoInVo.txtWhere" placeholder="where 조건을 입력하세요"></textarea>
  </div>
</div>

<div class="clearfix mb-2 ">
  <div class="float-right mr-3">{{cnt | number}}건</div>
</div>

<div class="text-center">
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" *ngFor="let tabInfoOutVo of tabInfoOutVoList; let i=index">{{tabInfoOutVo.colNm}}<br>{{tabInfoOutVo.colHnm}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rows of tabQryOutVoList; let i=index;">
        <td *ngFor="let cols of tabInfoOutVoList; let j=index;">
          <div *ngIf="cols.dataTypeNm=='TIMESTAMP'||cols.dataTypeNm=='DATE'">
            {{rows[cols.colNm]|date:'yyyy-MM-dd HH:mm:ss'}}
          </div>
          <div *ngIf="cols.dataTypeNm!='TIMESTAMP'&&cols.dataTypeNm!='DATE'">
            {{rows[cols.colNm]}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
