<div class="clearfix mb-3">
  <div class="float-left"> ETL > 테이블 이관 </div>
  <div class="float-right">
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDDL()">
        이행
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()">
        <i class="fa fa-file-excel-o"></i>&nbsp;엑셀
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectEtlTab()">
      <i class="fa fa-tasks fa-fw"></i>&nbsp;조회
    </button>
  </div>
</div>

<div class="form-row" *ngIf="tabInfoInVo.chkWhereTabs">
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs1" name="tabs1" class="form-control" rows="3" (change)="onChangeTabs(1)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs2" name="tabs2" class="form-control" rows="3" (change)="onChangeTabs(2)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs3" name="tabs3" class="form-control" rows="3" (change)="onChangeTabs(3)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs4" name="tabs4" class="form-control" rows="3" (change)="onChangeTabs(4)"></textarea>
  </div>
</div>



<div class="">
  <div class="form-row mr-6 ">
    <div class="form-group col-md-6 mr-6">
      <div class="clearfix">
        <div class="float-left">
            <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboJdbc($event.target.selectedIndex)" >
              <option *ngFor="let combo of comboJdbc" [value]="combo.jdbcNm" >{{combo.jdbcNm}}</option>
            </select>
            <select class="btn btn-outline-primary btn-sm mr-2"  (change)="onChangeComboWhereTabs($event.target.selectedIndex)"  >
              <option *ngFor="let combo of comboWhereTabs" [value]="combo.value" >{{combo.name}}</option>
            </select>
            <input [(ngModel)]="tabInfoInVo.tabNm"    class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectEtlTab()" placeholder="테이블명">
            <input [(ngModel)]="tabInfoInVo.tabHnm"   class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectEtlTab()" placeholder="테이블한글명">
            <select class="btn btn-outline-primary btn-sm mr-2"  (change)="onChangeComboWhereColTab($event.target.selectedIndex)"  >
              <option *ngFor="let combo of comboWhereColTab" [value]="combo.value" >{{combo.name}}</option>
            </select>
            <input [(ngModel)]="tabInfoInVo.colNm"    class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectEtlTab()" placeholder="컬럼명">
            <input [(ngModel)]="tabInfoInVo.colHnm"   class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectEtlTab()" placeholder="컬럼한글명">
        </div>
      </div>
      <div class="clearfix mb-2 ">
        <div class="float-right mr-3">{{cnt | number}} 건</div>
      </div>
      <table class="table table-sm table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 10px;"><input type="checkbox" [(ngModel)]="isCheckAll" (change)="onCheckGridAll()"></th>
            <th style="width:100px;" scope="col">소유자</th>
            <th style="width:100px;" scope="col">테이블명</th>
            <th style="width:100px;" scope="col">테이블한글명</th>
            <th style="width: 80px;" scope="col">Rows</th>
            <th style="width:100px;" scope="col">최근변경일</th>
            <th style="width:100px;" scope="col">테이블생성일</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tabInfoOutVo of tabInfoOutVoList; let i=index">
            <td><input type="checkbox" [(ngModel)]="tabInfoOutVo.chk" (change)="onCheckGrid(i)"></td>
            <td                   >{{tabInfoOutVo.owner         }}</td>
            <td class="text-left" ><a target="tab-col" [routerLink]="['/tab-col-list/']" [queryParams]="{tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabNm}}</a></td>
            <td class="text-left" >{{tabInfoOutVo.tabHnm        }}</td>
            <td class="text-right"><a target="tab-qry" [routerLink]="['/tab-qry-list/']" [queryParams]="{jdbcNm: tabInfoOutVo.jdbcNm,owner: tabInfoOutVo.owner,tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabRows|number}}</a></td>
            <td                   >{{tabInfoOutVo.tabUpdDt2     }}</td>
            <td                   >{{tabInfoOutVo.tabRegDt2     }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group col-md-6">
    
      <div class="clearfix">
        <div class="float-left">
            <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboJdbc($event.target.selectedIndex)" >
              <option *ngFor="let combo of comboJdbc" [value]="combo.jdbcNm" >{{combo.jdbcNm}}</option>
            </select>
        </div>
      </div>    
      <div class="clearfix mb-2 ">
        <div class="float-right mr-3">{{cnt | number}} 건</div>
      </div>
      <table class="table table-sm table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 10px;"><input type="checkbox" [(ngModel)]="isCheckAll" (change)="onCheckGridAll()"></th>
            <th style="width:100px;" scope="col">소유자</th>
            <th style="width:100px;" scope="col">테이블명</th>
            <th style="width:100px;" scope="col">테이블한글명</th>
            <th style="width: 80px;" scope="col">Rows</th>
            <th style="width:100px;" scope="col">최근변경일</th>
            <th style="width:100px;" scope="col">테이블생성일</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tabInfoOutVo of tabInfoOutVoList; let i=index">
            <td><input type="checkbox" [(ngModel)]="tabInfoOutVo.chk" (change)="onCheckGrid(i)"></td>
            <td                   >{{tabInfoOutVo.owner         }}</td>
            <td class="text-left" ><a target="tab-col" [routerLink]="['/tab-col-list/']" [queryParams]="{tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabNm}}</a></td>
            <td class="text-left" >{{tabInfoOutVo.tabHnm        }}</td>
            <td class="text-right"><a target="tab-qry" [routerLink]="['/tab-qry-list/']" [queryParams]="{jdbcNm: tabInfoOutVo.jdbcNm,owner: tabInfoOutVo.owner,tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabRows|number}}</a></td>
            <td                   >{{tabInfoOutVo.tabUpdDt2     }}</td>
            <td                   >{{tabInfoOutVo.tabRegDt2     }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

