


<div class="container">
  <form>

		<div class="mb-3">
		  <div class="clearfix">
		    <div class="float-right">
		      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCloneAngular()">
		        <i class="fa fa-tasks fa-fw"></i>&nbsp;실행
		      </button>
		    </div>
		  </div>
		</div>

    <div class="form-row mb-3" >
      <div class="col-md-6">
        <label for="inputAddress">Source Folder(기준파일포함)</label>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="srcFile" (change)="onChangeSrcFile($event)">
        <label class="custom-file-label" for="srcFile">{{srcPathFileNm}}</label>
      </div>
    </div>

    <div class="form-row mb-1 ">
	    <div class="form-group col-md-6">
	      <label for="inputCity">Target Package Name</label>
	      <input type="text" class="form-control" id="inputCity">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputZip">Target File Name</label>
	      <input type="text" class="form-control" id="inputZip">
	    </div>
    </div>  

    <fieldset class="form-group">
        <label>Results</label>
        <textarea class="form-control" rows="10"></textarea>
    </fieldset>
    
  </form>
</div>