
<div class="clearfix mb-3">
  <div class="float-left"> Table > 테이블조회  </div>
  <div class="float-right">
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDDL()">
      IDX
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDDL()">
        DDL
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onHiveDDL()">
        HiveDDL
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectSelectScript()" >
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Sel문장
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onUpdateTabRowsUpdateScript()">
            건수갱신
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onUpdateTabRowsUpdateScript()">
      주석갱신
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()">
        <i class="fa fa-file-excel-o"></i>&nbsp;엑셀
    </button>
    <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectTabList()">
      <i class="fa fa-tasks fa-fw"></i>&nbsp;조회
    </button>
  </div>
</div>
<div class="mb-3">
  <div class="clearfix">
    <div class="float-left">
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboJdbc($event.target.selectedIndex)" >
          <option *ngFor="let combo of comboJdbc" [value]="combo.jdbcNm" >{{combo.jdbcNm}}</option>
        </select>
        <select class="btn btn-outline-primary btn-sm mr-2"  (change)="onChangeComboWhereTabs($event.target.selectedIndex)"  >
          <option *ngFor="let combo of comboWhereTabs" [value]="combo.value" >{{combo.name}}</option>
        </select>
        <input [(ngModel)]="tabInfoInVo.tabNm"    class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="테이블명">
        <input [(ngModel)]="tabInfoInVo.tabHnm"   class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="테이블한글명">
        <select class="btn btn-outline-primary btn-sm mr-2"  (change)="onChangeComboWhereColTab($event.target.selectedIndex)"  >
          <option *ngFor="let combo of comboWhereColTab" [value]="combo.value" >{{combo.name}}</option>
        </select>
        <input [(ngModel)]="tabInfoInVo.colNm"    class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="컬럼명">
        <input [(ngModel)]="tabInfoInVo.colHnm"   class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="컬럼한글명">
        <input [(ngModel)]="tabInfoInVo.tabRows"  class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="건수">
        <input [(ngModel)]="tabInfoInVo.tabRegDt" class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="테이블등록일">
        <input [(ngModel)]="tabInfoInVo.tabUpdDt" class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="최근갱신일">
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboOrderBy($event.target.selectedIndex)"  >
          <option *ngFor="let combo of comboOrderBy" [value]="combo.value" >{{combo.name}}</option>
        </select>
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboAscDesc($event.target.selectedIndex)"  >
          <option *ngFor="let combo of comboAscDesc" [value]="combo.value" >{{combo.name}}</option>
        </select>
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboTarJdbc($event.target.selectedIndex)" >
          <option *ngFor="let combo of comboTarJdbc" [value]="combo.jdbcNm" >{{combo.jdbcNm}}</option>
        </select>
        <input [(ngModel)]="tabInfoInVo.tabNm"    class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectTabList()" placeholder="입력">
    </div>
  </div>
</div>

<div class="form-row" *ngIf="tabInfoInVo.chkWhereTabs">
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs1" name="tabs1" class="form-control" rows="3" (change)="onChangeTabs(1)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs2" name="tabs2" class="form-control" rows="3" (change)="onChangeTabs(2)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs3" name="tabs3" class="form-control" rows="3" (change)="onChangeTabs(3)"></textarea>
  </div>
  <div class="form-group col-md-3">
    <textarea [(ngModel)]="tabInfoInVo.whereTabs4" name="tabs4" class="form-control" rows="3" (change)="onChangeTabs(4)"></textarea>
  </div>
</div>

<div *ngIf="isLoading" style="width:100%; height:4000px; text-align:center; z-index:100000">
  <div id="loading" style="height: 300px;"></div>
  <img  src="assets/images/loading.gif" style="width: 100px; height: 100px;"/>
</div>



<div class="clearfix mb-2 ">
  <div class="float-right mr-3">{{cnt | number}} 건</div>
</div>

<div class="text-center">
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 10px;"><input type="checkbox" [(ngModel)]="isCheckAll" (change)="onCheckGridAll()"></th>
        <th style="width:100px;" scope="col">소유자</th>
        <th style="width:100px;" scope="col">테이블명</th>
        <th style="width:100px;" scope="col">테이블한글명</th>
        <th style="width: 80px;" scope="col">Rows</th>
        <th style="width:100px;" scope="col">최근변경일</th>
        <th style="width:100px;" scope="col">테이블생성일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tabInfoOutVo of tabInfoOutVoList; let i=index">
        <td><input type="checkbox" [(ngModel)]="tabInfoOutVo.chk" (change)="onCheckGrid(i)"></td>
        <td                   >{{tabInfoOutVo.owner         }}</td>
        <td class="text-left" ><a target="tab-col" [routerLink]="['/tab-col-list/']" [queryParams]="{tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabNm}}</a></td>
        <td class="text-left" >{{tabInfoOutVo.tabHnm        }}</td>
        <td class="text-right"><a target="tab-qry" [routerLink]="['/tab-qry-list/']" [queryParams]="{jdbcNm: tabInfoOutVo.jdbcNm,owner: tabInfoOutVo.owner,tabNm: tabInfoOutVo.tabNm}" [routerLinkActive]="['router-link-active']">{{tabInfoOutVo.tabRows|number}}</a></td>
        <td                   >{{tabInfoOutVo.tabUpdDt2     }}</td>
        <td                   >{{tabInfoOutVo.tabRegDt2     }}</td>
      </tr>
    </tbody>
  </table>
</div>
