<div class="mb-4">
  <div class="clearfix">
    <div class="float-left">
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onComboCodeChange($event.target.value)" > 
          <option *ngFor="let cd of comboCode" [value]="cd.id" >{{cd.name}}</option>
        </select>
        <input [(ngModel)]="codeInVo.searchValue" class="btn btn-outline-primary btn-sm mr-2" (keyup)="onSelectCodeList()" >
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()">
          <i class="fa fa-file-excel-o"></i>&nbsp;엑셀
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onSelectCodeList()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;조회
      </button>
    </div>
  </div>
</div>

<div class="text-center">
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 60px;" scope="col">번호</th>
        <th style="width:100px;" scope="col">코드그룹</th>
        <th style="width:140px;" scope="col">코드ID</th>
        <th style="width:140px;" scope="col">코드ID명</th>
        <th style="width: 60px;" scope="col">코드</th>
        <th style="width:140px;" scope="col">코드명</th>
        <th style="width:200px;" scope="col">코드설명</th>
        <th style="width:100px;" scope="col">코드유형</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let codeOutVo of codeOutVoList; let i=index">
        <td>{{i+1}}</td>
        <td>{{codeOutVo.cdGrpNm}}</td>
        <td>{{codeOutVo.cdId}}</td>
        <td>{{codeOutVo.cdIdNm}}</td>
        <td>{{codeOutVo.cd}}</td>
        <td>{{codeOutVo.cdNm}}</td>
        <td>{{codeOutVo.cdDesc}}</td>
        <td>{{codeOutVo.cdTyCd}}</td>
      </tr>
    </tbody>
  </table>
</div>    
