
<div class="mb-4">
  <div class="clearfix">
    <div class="float-left">
      Settings > JDBC
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onNew()">
          <i class="fa fa-file-excel-o"></i>&nbsp;New
      </button>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSave()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Save
      </button>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onTest()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Test
      </button>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDelete()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;Del
      </button>
    </div>
  </div>
</div>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="card text-center">
        <div class="card-body table-responsive">
  			  <table class="table table-sm table-bordered table-hover">
  			    <thead>
  			      <tr>
  			        <th style="width: 40px;" scope="col">#</th>
  			        <th style="width:140px;" scope="col">jdbc</th>
  			        <th style="width:120px;" scope="col">driver</th>
  			      </tr>
  			    </thead>
  			    <tbody>
  			      <tr *ngFor="let jdbcInfoOutVo of jdbcInfoOutVoList; let i=index" (click)="onClick(jdbcInfoOutVo)" >
  			        <td>{{i+1}}</td>
  			        <td>{{jdbcInfoOutVo.jdbcNm}}</td>
  			        <td>{{jdbcInfoOutVo.driver}}</td>
  			      </tr>
  			    </tbody>
  			  </table>
        </div>
			</div>
    </div>
    <div class="form-group col-md-6">
      <div class="card">
        <div class="card-body">
		      <label for="jdbcNm">JDBC Name</label>
		      <input type="text" class="form-control mb-3" id="jdbcNm" [(ngModel)]="jdbcInfoInVo.jdbcNm" [ngModelOptions]="{standalone: true}" >
		      <label for="driver">Driver</label>
		      <select  class="form-control mb-3" (change)="onComboChange($event.target.value)" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let combo of comboDriver" [value]="combo.value" >{{combo.name}}</option>
          </select>
		      <label for="url">URL</label>
		      <input type="text" class="form-control mb-3" id="url" [(ngModel)]="jdbcInfoInVo.url" [ngModelOptions]="{standalone: true}" >
		      <label for="usrId">User</label>
		      <input type="text" class="form-control mb-3" id="usrId" [(ngModel)]="jdbcInfoInVo.usrId" [ngModelOptions]="{standalone: true}" >
		      <label for="password">Password</label>
		      <input type="text" class="form-control mb-3" id="UsrPw" [(ngModel)]="jdbcInfoInVo.usrPw" [ngModelOptions]="{standalone: true}" >
        </div>
      </div>
    </div>
  </div>
</form>
