<div class="clearfix mb-3">
  <div class="float-left"> Table > 테이블정보추출  </div>
</div>
<div class="mb-4">
  <div class="clearfix">
    <div class="float-left">
        <select class="btn btn-outline-primary btn-sm mr-2" (change)="onChangeComboJdbc($event.target.value)" >
          <option *ngFor="let combo of comboJdbc" [value]="combo.id" >{{combo.name}}</option>
        </select>
        <input [(ngModel)]="tabInfoInVo.condTabNm" class="btn btn-outline-primary btn-sm mr-2" (keyup.enter)="onSelectMetaTabInfoList()" placeholder="search : table name">
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectMetaTabInfoList()">
          <i class="fa fa-file-excel-o"></i>&nbsp;DB메타조회
      </button>
<!--
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onUploadMetaTabInfo()">
          <i class="fa fa-file-excel-o"></i>&nbsp;메타업로드
      </button>
 -->
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm " (click)="onCompare()">
          <i class="fa fa-file-excel-o"></i>&nbsp;비교
      </button>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSave()">
          <i class="fa fa-file-excel-o"></i>&nbsp;저장
      </button>

      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDelete()">
          <i class="fa fa-file-excel-o"></i>&nbsp;삭제
      </button>
      <span class="mr-6"></span>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()">
          <i class="fa fa-file-excel-o"></i>&nbsp;엑셀
      </button>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSelectTabInfoList()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;조회
      </button>
    </div>
  </div>
</div>

<div class="text-center">
  <table class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 50px;" scope="col">상태</th>
        <th style="width:100px;" scope="col">소유자</th>
        <th style="width:100px;" scope="col">테이블명</th>
        <th style="width:100px;" scope="col">테이블한글명</th>
        <th style="width: 40px;" scope="col">순서</th>
        <th style="width:100px;" scope="col">컬럼명</th>
        <th style="width:100px;" scope="col">컬럼한글명</th>
        <th style="width:100px;" scope="col">타입</th>
        <th style="width: 80px;" scope="col">NULL</th>
        <th style="width: 20px;" scope="col">PK</th>
        <th style="width: 80px;" scope="col">Rows</th>
        <th style="width:100px;" scope="col">최근변경일</th>
        <th style="width:100px;" scope="col">테이블생성일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tabInfoOutVo of tabInfoOutVoList; let i=index">
        <td                  >{{tabInfoOutVo.stsNm       }}</td>
        <td                  >{{tabInfoOutVo.owner       }}</td>
        <td class="text-left">{{tabInfoOutVo.tabNm       }}</td>
        <td class="text-left">{{tabInfoOutVo.tabHnm      }}</td>
        <td                  >{{tabInfoOutVo.colId       }}</td>
        <td class="text-left">{{tabInfoOutVo.colNm       }}</td>
        <td class="text-left">{{tabInfoOutVo.colHnm      }}</td>
        <td class="text-left">{{tabInfoOutVo.dataTypeDesc}}</td>
        <td                  >{{tabInfoOutVo.nullable    }}</td>
        <td                  >{{tabInfoOutVo.pk          }}</td>
        <td                  >{{tabInfoOutVo.tabRows     }}</td>
        <td                  >{{tabInfoOutVo.tabUpdDt2   }}</td>
        <td                  >{{tabInfoOutVo.tabRegDt2   }}</td>
      </tr>
    </tbody>
  </table>
</div>
