<!-- 
<div class="mb-4">
  <div class="clearfix">
    <div class="float-left">
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onDownloadExcel()">
          <i class="fa fa-file-excel-o"></i>&nbsp;신규
      </button>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="onSelectCodeList()">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;저장
      </button>
    </div>
  </div>
</div>


<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="text-center">
			  <table class="table table-sm table-bordered table-hover">
			    <thead>
			      <tr>
			        <th style="width: 60px;" scope="col">번호</th>
			        <th style="width:100px;" scope="col">jdbc명</th>
			        <th style="width:140px;" scope="col">driver</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr *ngFor="let codeOutVo of codeOutVoList; let i=index">
			        <td>{{i+1}}</td>
			        <td>{{codeOutVo.cdGrpNm}}</td>
			        <td>{{codeOutVo.cdId}}</td>
			      </tr>
			    </tbody>
			  </table>
			</div>    
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">JDBC명</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      <label for="inputPassword4">Driver</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      <label for="inputPassword4">URL</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      <label for="inputPassword4">ID</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
</form>
 -->