<div class="mb-4">
  <div class="clearfix">
    <div class="float-left">
        <input class="btn btn-outline-primary btn-sm mr-2"  >
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-sm" >
        <i class="fa fa-tasks fa-fw"></i>&nbsp;세로변환
      </button>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-outline-primary btn-sm">
        <i class="fa fa-tasks fa-fw"></i>&nbsp;가로변환
      </button>
    </div>
  </div>
</div>


    <fieldset class="form-group">
        <label>Horizontal</label>
        <textarea class="form-control" rows="10"  ></textarea>
    </fieldset>
    
 
    <fieldset class="form-group">
        <label>Vertical</label>
        <textarea class="form-control" rows="10"  ></textarea>
    </fieldset>       
